**BOOT CAMP FINAL DAY - PYTHON**

**What is Google Colab?**

Links:https://colab.research.google.com

**What** **is Python?**

Link: https://www.python.org/

**What is Pandas?**

Link: https://pandas.pydata.org/

**What is Numpy?**

Link: https://numpy.org/

**What is Matplotlib?**

Link: https://matplotlib.org/

**What is a DataFrame?**

**CLASS EXERCISE 2**

**Import** **Packages and libraries**

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Data Types

### Int, Float, String

#### Integer

In [ ]:
a = 150

In [ ]:
print(a)

In [ ]:
type(a)

In [ ]:
a, b = 15, 15

a = 15
b = 15

In [ ]:
c = a + b
print('a + b =', c)

### Float

In [ ]:
# Create variable float
float2 = 2/3

In [ ]:
# Use type function to examine variable type
type(float2)

In [ ]:
# Print variable
print(float2)

### String

In [ ]:
# Create string variable name
name = "Hello, my name is Simran"

In [ ]:
# Use type function to examine variable type
type(name)

In [ ]:
# Print variable
print(name)

**CLASS EXERCISE**

In [ ]:
# Import necessary libraries
import pandas as pd
import matplotlib.pyplot as plt

# Step 1: Create a small dataset
data = {
    'Year': [2020, 2021, 2022, 2023],
    'Production': [300, 450, 500, 550]  # Units can be in tons, lbs, etc.
}

# Step 2: Convert data to a DataFrame
df = pd.DataFrame(data)

# Step 3: Plot the data as a line chart
plt.figure(figsize=(16, 8))  # Set figure size
plt.plot(df['Year'], df['Production'], marker='o', linestyle='-', color='green')

# Step 4: Add chart title and labels
plt.title('Crop Production Over Years', fontsize= 18, fontweight='bold')
plt.xlabel('Year',fontsize= 14, fontweight='bold')
plt.ylabel('Production (in units)',fontsize= 14, fontweight='bold')

#gridlines
plt.grid(False)

#Set x-axis ticks to be only whole numbers
plt.xticks(df['Year'])


# Step 5: Show the chart/Plot
plt.show()